.grad{
    
    max-width: 100%;
    height:100%;
    position: relative;
}
body{
    background-image: url(2k_stars.jpg);
    color: cyan;
    font-family:'Roboto',sans-serif;
}
*{
    margin:0;
    padding: 0;
}
.logo{
    cursor:pointer;
}
.navbar{
    width:92%;
    height: auto;
    margin:auto;
    display: flex;
    align-items:center;
    justify-content:space-between;
}
.b1{
    width:220px;
    height: 80px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
button{
    color:cyan;
    font-size: 14px;
    padding:10px 20px;
    background:transparent;
    border: 1px solid transparent;
    border-radius:20px;
    outline: none;
    cursor:pointer;
    transition: 0.6s ease;
    position: relative;
    overflow: hidden;
    letter-spacing: 1px;
    font-weight: 550;
    box-shadow: -2px 5px 25px rgba(15,200,200,0.3),5px -10px 20px rgba(224,200,220,0.3);
}
button:hover{
    background: #03e9f4;
    color: #000;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 200px #03e9f4;
    letter-spacing: 1.5px;
}
button span {
    position: absolute;
    width: 10px;
    height: auto;
    border: 0.5px solid transparent;
    border-radius: 20px;
    
}

button span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 50%;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animate1 2s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

button span:nth-child(2) {
    top: -100%;
    right: 0;
    
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    
    animation: animate2 2s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    border-radius: 20px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: animate3 2s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: animate4 2s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}
button:before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: cyan;
    z-index: -1;
    transition: 0.6s ease;
    bottom: 0;
    border-radius: 0% 0% 50% 50%;
    
}
button:hover:before{
    height: 180%;
}
.sidebar{
    width: 50px;
    height:100%;
    background:linear-gradient(#404040,

 #1a1a1a,#000000);
    position:absolute;
    overflow: hidden;
    right:0;
    top:0;
    border-left: 2px solid cyan;
}
.sociallinks img, .usefullinks img{
    width:30px;
    position: relative;
    margin:10px;
    border-radius:50%;
    border-color: cyan;
    cursor:pointer;
    border:1px solid cyan;
    transition: opacity 0.2s ease-in;
}
.sociallinks img:hover{
    opacity:0.4;
    background-color:#4a4a4a   !important;
}
.usefullinks img:hover{
    opacity:0.4;
    background-color:#4a4a4a !important;
}
.sociallinks{
    width:50px;
    text-align: center;
    position:fixed;
    top:50%;
    transform: translateY(-40%);
}
.usefullinks{
    width:40px;
    text-align: center;
    bottom:30px;
    position: fixed;
}
.content{
    margin:auto;
}
.container{
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}
.start-outer{
    height: inherit;
    position: relative;
    line-height: 2;
}
.start-outer .start-inner{
    color:rgb(80,255,255);
    font-family: 'Stalinist One', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.start-inner h3, h4{
    color:#008b8b;
    line-height: 2.5;
    word-spacing: 3px;
    font-size: 19px;
    font-weight: 10;
}
.coin_heading {
    position: relative;
    font-family: 'Stalinist One';
    text-align: center;
    justify-content: center;
    font-size: 12px;
    margin: 20px;
    -webkit-box-reflect:below 0px linear-gradient(transparent,#0005); 
}
.iconbadge,.iconbadge1,.iconbadge2,.iconbadge3,.iconbadge4,.iconbadge5{
    overflow:hidden;
    color:cyan;
    font-family: 'Roboto';
    font-size: 16px;
    height: 22px;
    width: 60px;
    border-radius: 20px;
    position: absolute;
    font-weight: 100;
    background: linear-gradient(360deg, transparent, red);
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 200px #03e9f4;
    transition: all 0.75s ease-out;
}
.iconbadge{
    padding: 2px 6px;
    font-size: 15px;
    width: 60px;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    right:-150px;
    top: -45px;
}
.iconbadge1{
    width: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
    left:150px;
    top:116px;
}
.iconbadge2{
    width: 55px;
    text-align: center;
    justify-content: center;
    align-items: center;
    left:387px;
    top:116px;
}
.iconbadge3{
    width: 35px;
    text-align: center;
    justify-content: center;
    align-items: center;
    left:710px;
    top:116px;
}
.iconbadge4{
    width: 23px;
    font-family: 'Stalinist One';
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    justify-content: center;
    align-items: center;
    right:218px;
    top:116px;
    cursor:pointer;
    border-radius: 50%;
}
.iconbadge5{
    width: 25px;
    font-family: 'Stalinist One';
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    justify-content: center;
    align-items: center;
    right:15px;
    top:116px;
    cursor:pointer;
    border-radius: 50%;
}
.car,.car1{
    font-family: "Stalinist One";
    background: linear-gradient(90deg,black,#404);
    transform-style: preserve-3d;
    min-height: 180px;
    width: 350px;
    box-shadow: 3px 20px 30px rgba(164,244,249,0.2), 0px 0px 50px rgba(224,255,255,0.2);
    border-radius: 25px;
    padding: 0.4rem 1.4rem;
}
.car h1,.car1 h1{
    font-size: 23px;
}
.car h4,.car1 h4{
    font-size: 11px;
    text-align: center;
    margin: 9px 0px;
    line-height: 1.4rem;
}
.car h2,.car1 h2{
    font-size: 15px;
    font-weight: 100;
    margin: 8px 0px;
}
.make,.make1{
    font-weight: 100;
    font-size: 11px;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.cont,.cont1{
    min-width: 200px;
    min-height: 200px;
}
.dropdowncontent,.dropdowncontent1{
    display: none;
    position:absolute;
    top: 150px;
    right: 40px;
    z-index: 2;
    transition: all 0.2s ease all;
}
.show{
    display: block;
}
