body,
html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.pimg1,
.pimg2,
.pimg3,
.pimg4,
.pimg5 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    white-space: nowrap;
    /*
    fixed = parallax
    scroll = normal
  */
    background-attachment: fixed;
}

.pimg1 {
    background-image: url(img1.jpg);
    min-height: 75%;
}

.pimg2 {
    background-image: url(iphon13ph.jpg);
    min-height: 600px;
}

.pimg3 {
    background-image: url(s21ph.jpg);
    min-height: 600px;
}

.pimg4 {
    background-image: url(fold3ph.jpg);
    min-height: 600px;
}

.pimg5 {
    background-image: url(mi11ultraph.jpg);
    min-height: 600px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}


.section-dark {
    background-color: black;
    color: bisque;
}

.htext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.htext p{
    color: blanchedalmond;
}

.htext .borde {
    background-color: black;
    color: cyan;
    padding: 20px;
    border-radius: 25px;
}

.htext .borde .rans {
    background-color: transparent;
}

@media(max-width:568px) {

    .pimg1,
    .pimg2,
    .pimg3,
    .pimg4,
    .pimg5 {
        background-attachment: scroll;
    }
}

#sub {
    position: relative;
    width: 200px;
    height: 35px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
    padding: 2px 0px;
    background-color: yellow;
    border: 4px ridge red;
}
#area{
    border-radius: 15px;
    background-color: lightcyan;
}
#area:focus {
    position: relative;
    border: 4px dashed green;
    top: -10px;
}

.section-dark img{
    border-radius: 25px;
    box-shadow: -2px 5px 25px rgba(15, 200, 200, 0.5), 5px -10px 20px rgba(224, 200, 220, 0.5);
}