.grad {
    max-width: 100%;
    height: 100%;
    position: relative;
}

body {
    background-image: url(2k_stars.jpg);
    color: cyan;
    display: block;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;

}

.logo {
    margin-top: 20px;
    cursor: pointer;
}

.navbar {
    width: 92%;
    height: 14%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.b1 {
    width: 220px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    color: cyan;
    font-size: 14px;
    padding: 10px 20px;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    transition: 0.6s ease;
    position: relative;
    overflow: hidden;
    letter-spacing: 1px;
    font-weight: 550;
    box-shadow: -2px 5px 25px rgba(15, 200, 200, 0.3), 5px -10px 20px rgba(224, 200, 220, 0.3);
}

button:hover {
    background: #03e9f4;
    color: #000;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 200px #03e9f4;
    letter-spacing: 1.5px;
}

button span {
    position: absolute;
}

button span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 50%;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    border-radius: 20px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

button:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: cyan;
    z-index: -1;
    transition: 0.6s ease;
    bottom: 0;
    border-radius: 0% 0% 50% 50%;
}

button:hover:before {
    height: 180%;
}

.sidebar {
    z-index: 5;
    width: 50px;
    height:200vh;
    background: linear-gradient(#404040,
            #1a1a1a, #000000);
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
    border-left: 2px solid cyan;
}

.sociallinks img,
.usefullinks img {
    width: 30px;
    position: relative;
    margin: 10px;
    border-radius: 50%;
    border-color: cyan;
    cursor: pointer;
    border: 1px solid cyan;
    transition: opacity 0.2s ease-in;
}

.sociallinks img:hover {
    opacity: 0.4;
    background-color: #4a4a4a !important;
}

.usefullinks img:hover {
    opacity: 0.4;
    background-color: #4a4a4a !important;
}

.sociallinks {
    width: 50px;
    text-align: center;
    position: fixed;
    top: 50%;
    transform: translateY(-40%);
}

.usefullinks {
    width: 40px;
    text-align: center;
    bottom: 30px;
    position: fixed;
}

.content {
    margin: auto;
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

.start-outer {
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 1100px;
    margin-top: 32px;
    height: inherit;
    position: relative;
    line-height: 2;
}

.start-outer .start-inner {
    color: cyan;
    font-family: 'Stalinist One', sans-serif;
    font-size: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.start-inner h3,
h4 {
    color: #008b8b;
    line-height: 2.5;
    word-spacing: 6px;
    font-size: 21px;
    font-weight: 10;
}

.box {
    position: relative;
    width: 900px;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    box-shadow: 0px 0px 300px #00b3ff;
}

.box h1 {
    color: #000;
    font-size: 45px;
    word-spacing: -16px;
    text-shadow: 0 0 10px #00adff,
        0 0 20px #00adff,
        0 0 40px #00adff,
        0 0 80px #00adff;
}

.lightbar {
    position: absolute;
    left: 120px;
    width: 8px;
    height: 80%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #fff;
    z-index: 2;
    box-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff;
    animation: animatelightbar 3s linear infinite;
}

@keyframes animatelightbar {

    0%,
    5% {
        transform: scaleY(0) translateX(0);
    }

    12% {
        transform: scaleY(1) translateX(0);
    }

    90% {
        transform: scaleY(1) translateX(calc(680px - 8px));
    }

    95%,
    100% {
        transform: scaleY(0) translateX(calc(680px - 8px));
    }
}

.box h1 span {
    animation: animate 3s linear infinite;
}

.box h1 span:nth-child(1) {
    animation-delay: 0.65s;
}

.box h1 span:nth-child(2) {
    animation-delay: 0.75s;
}

.box h1 span:nth-child(3) {
    animation-delay: 0.95s;
}

.box h1 span:nth-child(4) {
    animation-delay: 1s;
}

.box h1 span:nth-child(5) {
    animation-delay: 1.25s;
}

.box h1 span:nth-child(6) {
    animation-delay: 1.5s;
}

.box h1 span:nth-child(7) {
    animation-delay: 1.65s;
}

.box h1 span:nth-child(8) {
    animation-delay: 1.8s;
}

@keyframes animate {

    0%,
    100% {
        color: #fff;
        filter: blur(2px);
        text-shadow: none;
    }

    5%,
    95% {
        color: #000;
        filter: blur(0px);
        text-shadow: 0 0 10px #00b3ff,
            0 0 20px #00b3ff,
            0 0 40px #00b3ff,
            0 0 80px #00b3ff,
            0 0 120px #00b3ff;
    }

    /*15%,85%{
        text-shadow: none;
    }*/
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 98%;
    min-height: 45vh;
    transform-style: preserve-3d;
}

.earth {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 308px;
    height: 300px;
    background: url(image.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    border-radius: 50%;
    box-shadow: inset 0 0 16px, 0 0 50px #4069ff;
    animation: animateearth 15s linear infinite;
}

@keyframes animateearth {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -750px 0;
    }
}

.cir {
    transform-style: preserve-3d;
    animation: animatemoon 10s linear infinite;
}

.cir span {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background: url(moon1.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    transform-origin:center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * calc(360deg / 5))) translateZ(250px);
    box-shadow: inset 0 0 16px #FFFDD0, 0 0 50px #FFFB;
    animation: animatepic 20s linear infinite;
}

@keyframes animatepic {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -1024px 0;
    }
}

@keyframes animatemoon {
    0% {
        transform: perspective(1000px) rotateY(360deg) rotateX(15deg) translateY(-40px);
    }

    100% {
        transform: perspective(1000px) rotateY(0deg) rotateX(15deg) translateY(-40px);

    }
}

.cir span::before {
    content: "";
    position: relative;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(64, 64, 64, 0.7);
    transform: translateZ(-0.1px);
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.cont .boox {
    position: relative;
    width: 1400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;

}

.cont .boox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 30%;
    background: #fff;
    height: 100%;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
}

.cont .boox::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 30%;
    background: #fff;
    height: 100%;
    border-radius: 8px;
    transform: skewX(15deg);
    filter: blur(30px);
    transition: 0.5s;
}

.cont .boox:hover:before,
.cont .boox:hover:after {
    transform: skewX(0deg);
    left: 270px;
    width: calc(100% - 500px);
}
.cont .boox::before,
.cont .boox::after {
    background: linear-gradient(315deg,#006600,#ffbc00,#ff0058);
}
.cont .boox span:nth-child(1){
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
}
.cont .boox span:nth-child(1)::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: contani 1.3s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}
.cont .boox:hover span:nth-child(1)::before{
    top: -70px;
    left: 240px;
    width: 100px;
    height: 100px;
    opacity: 1;
}
.cont .boox span:nth-child(1)::after{
    content:"";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: contani 1.3s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
    animation-delay: -1s;
}
.cont .boox:hover span:nth-child(1)::after{
    bottom: -70px;
    right: 180px;
    width: 200px;
    height: 100px;
    opacity: 1;
}
/*span child 2*/
.cont .boox span:nth-child(2){
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
}
.cont .boox span:nth-child(2)::before{
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: contani 1.3s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}
.cont .boox:hover span:nth-child(2)::before{
    top: -70px;
    right: 200px;
    width: 100px;
    height: 100px;
    opacity: 1;
}
.cont .boox span:nth-child(2)::after{
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: contani 1.3s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
    animation-delay: -1s;
}
.cont .boox:hover span:nth-child(2)::after{
    bottom: -70px;
    left: 180px;
    width: 200px;
    height: 100px;
    opacity: 1;
}
@keyframes contani{
    0%,100%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);
    }
    
}
.cont .boox .conte {
    align-items: center;
    height: 94px;
    position: relative;
    left: 0;
    padding: 30px 45px;
    background: rgba(255,255,255,0.08);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
    transition: 0.5s;
    backdrop-filter:blur(10px);
    z-index: 1;
}
.cont .boox:hover .conte{
    left: -25px;
    letter-spacing: 0.5px;
    padding: 57px 45px;
}
.m11{
    justify-content: center;
    margin-left: 100px;
    right: 0;
    width: 3px;
    border-radius: 10px;
    height: 150%;
    background: linear-gradient(180deg, transparent, #03e9f4);
}
.conte{
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
}
.cont .boox .conte h1{
    font-weight: 200;
    font-size: 29px;
    letter-spacing: 2px;
    transition: 0.5s ease;
}
.cont .boox .conte p{
    font-family: 'Mukta', sans-serif;
    font-size: 17.5px;
    letter-spacing: 0.1px;
    text-align: center;
}

.cont .boox:hover .conte h1{
    letter-spacing: 5px;
}
                                                         /*box 2*/
.cont2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.cont2 .boox2 {
    position: relative;
    width: 1400px;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;

}

.cont2 .boox2::before {
    content: '';
    position: absolute;
    top: 0;
    right: 50px;
    width: 30%;
    background: #fff;
    height: 100%;
    border-radius: 8px;
    transform: skewX(-15deg);
    transition: 0.5s;
}

.cont2 .boox2::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50px;
    width: 30%;
    background: #fff;
    height: 100%;
    border-radius: 8px;
    transform: skewX(-15deg);
    filter: blur(30px);
    transition: 0.5s;
}

.cont2 .boox2:hover:before,
.cont2 .boox2:hover:after {
    transform: skewX(0deg);
    right: 270px;
    width: calc(100% - 500px);
}
.cont2 .boox2::before,
.cont2 .boox2::after {
    background: linear-gradient(315deg,#4dff03,#ff0058,#00d0ff);
}
.cont2 .boox2 span:nth-child(1){
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
}
.cont2 .boox2 span:nth-child(1)::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: contani 1.3s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}
.cont2 .boox2:hover span:nth-child(1)::before{
    top: -80px;
    left: 240px;
    width: 100px;
    height: 100px;
    opacity: 1;
}
.cont2 .boox2 span:nth-child(1)::after{
    content:"";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: contani 1.3s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
    animation-delay: -1s;
}
.cont2 .boox2:hover span:nth-child(1)::after{
    bottom: -70px;
    right: 180px;
    width: 200px;
    height: 100px;
    opacity: 1;
}
/*span child 2*/
.cont2 .boox2 span:nth-child(2){
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
    pointer-events: none;
}
.cont2 .boox2 span:nth-child(2)::before{
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: contani 1.3s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}
.cont2 .boox2:hover span:nth-child(2)::before{
    top: -70px;
    right: 200px;
    width: 100px;
    height: 100px;
    opacity: 1;
}
.cont2 .boox2 span:nth-child(2)::after{
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: contani 1.3s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
    animation-delay: -1s;
}
.cont2 .boox2:hover span:nth-child(2)::after{
    bottom: -70px;
    left: 180px;
    width: 200px;
    height: 100px;
    opacity: 1;
}
@keyframes contani{
    0%,100%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);
    }
    
}
.cont2 .boox2 .conte2 {
    align-items: center;
    height: 205px;
    position: relative;
    left: 0;
    padding: 30px 45px;
    background: rgba(255,255,255,0.08);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
    transition: 0.5s;
    backdrop-filter:blur(10px);
    z-index: 1;
}
.cont2 .boox2:hover .conte2{
    left: -25px;
    letter-spacing: 0.5px;
    padding: 57px 45px;
}
.m12{
    justify-content: center;
    margin-left: 100px;
    right: 0;
    width: 3px;
    border-radius: 10px;
    height: 120%;
    background: linear-gradient(180deg, transparent, #03e9f4);
}
.conte2{
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
}
.cont2 .boox2 .conte2 h1{
    font-weight: 200;
    font-size: 29px;
    letter-spacing: 2px;
    transition: 0.5s ease;
}
.cont2 .boox2 .conte2 p{
    font-family: 'Mukta', sans-serif;
    z-index: 100;
    font-size: 17.5px;
    letter-spacing: 0.1px;
    text-align: center;
}

.cont2 .boox2:hover .conte2 h1{
    letter-spacing: 5px;
}
/*this is box 3*/
.cont3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.cont3 .boox3 {
    position: relative;
    width: 1400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;

}

.cont3 .boox3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 30%;
    background: #fff;
    height: 100%;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
}

.cont3 .boox3::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 30%;
    background: #fff;
    height: 100%;
    border-radius: 8px;
    transform: skewX(15deg);
    filter: blur(30px);
    transition: 0.5s;
}

.cont3 .boox3:hover:before,
.cont3 .boox3:hover:after {
    transform: skewX(0deg);
    left: 270px;
    width: calc(100% - 500px);
}
.cont3 .boox3::before,
.cont3 .boox3::after {
    background: linear-gradient(315deg,#4dff03,#001a00,#00d0ff);
}
.cont3 .boox3 span:nth-child(1){
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
}
.cont3 .boox3 span:nth-child(1)::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: contani 1.3s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}
.cont3 .boox3:hover span:nth-child(1)::before{
    top: -80px;
    left: 240px;
    width: 100px;
    height: 100px;
    opacity: 1;
}
.cont3 .boox3 span:nth-child(1)::after{
    content:"";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: contani 1.3s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
    animation-delay: -1s;
}
.cont3 .boox3:hover span:nth-child(1)::after{
    bottom: -70px;
    right: 180px;
    width: 200px;
    height: 100px;
    opacity: 1;
}
/*span child 2*/
.cont3 .boox3 span:nth-child(2){
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
    pointer-events: none;
}
.cont3 .boox3 span:nth-child(2)::before{
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: contani 1.3s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}
.cont3 .boox3:hover span:nth-child(2)::before{
    top: -70px;
    right: 200px;
    width: 100px;
    height: 100px;
    opacity: 1;
}
.cont3 .boox3 span:nth-child(2)::after{
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: contani 1.3s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
    animation-delay: -1s;
}
.cont3 .boox3:hover span:nth-child(2)::after{
    bottom: -70px;
    left: 180px;
    width: 200px;
    height: 100px;
    opacity: 1;
}
@keyframes contani{
    0%,100%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);
    }
    
}
.cont3 .boox3 .conte3 {
    align-items: center;
    height: 165px;
    position: relative;
    left: 0;
    padding: 30px 45px;
    background: rgba(255,255,255,0.08);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
    transition: 0.5s;
    backdrop-filter:blur(10px);
    z-index: 1;
}
.cont3 .boox3:hover .conte3{
    left: -25px;
    letter-spacing: 0.5px;
    padding: 57px 45px;
}
.m13{
    justify-content: center;
    margin-left: 100px;
    right: 0;
    width: 3px;
    border-radius: 10px;
    height: 108%;
    background: linear-gradient(180deg, transparent, #03e9f4);
}
.conte3{
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
}
.cont3 .boox3 .conte3 h1{
    font-weight: 200;
    font-size: 29px;
    letter-spacing: 2px;
    transition: 0.5s ease;
}
.cont3 .boox3 .conte3 ol{
    font-family: 'Mukta', sans-serif;
    z-index: 100;
    font-size: 18px;
    letter-spacing: 0.1px;
}

.cont3 .boox3:hover .conte2 h1{
    letter-spacing: 5px;
}

                               /*box 4*/
.cont4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.cont4 .boox4 {
    position: relative;
    width: 1400px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;

}

.cont4 .boox4::before {
    content: '';
    position: absolute;
    top: 0;
    right: 50px;
    width: 30%;
    background: #fff;
    height: 100%;
    border-radius: 8px;
    transform: skewX(-15deg);
    transition: 0.5s;
}

.cont4 .boox4::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50px;
    width: 30%;
    background: #fff;
    height: 100%;
    border-radius: 8px;
    transform: skewX(-15deg);
    filter: blur(30px);
    transition: 0.5s;
}

.cont4 .boox4:hover:before,
.cont4 .boox4:hover:after {
    transform: skewX(0deg);
    right: 270px;
    width: calc(100% - 500px);
    
}
.cont4 .boox4::before,
.cont4 .boox4::after {
    background: linear-gradient(315deg,#006600,#ffbc00,#ff0058);
}
.cont4 .boox4 span:nth-child(1){
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
}
.cont4 .boox4 span:nth-child(1)::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: contani 1.3s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}
.cont4 .boox4:hover span:nth-child(1)::before{
    top: -70px;
    left: 240px;
    width: 100px;
    height: 100px;
    opacity: 1;
}
.cont4 .boox4 span:nth-child(1)::after{
    content:"";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: contani 1.3s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
    animation-delay: -1s;
}
.cont4 .boox4:hover span:nth-child(1)::after{
    bottom: -70px;
    right: 180px;
    width: 200px;
    height: 100px;
    opacity: 1;
}
/*span child 2*/
.cont4 .boox4 span:nth-child(2){
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
    pointer-events: none;
}
.cont4 .boox4 span:nth-child(2)::before{
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: contani 1.3s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}
.cont4 .boox4:hover span:nth-child(2)::before{
    top: -70px;
    right: 200px;
    width: 100px;
    height: 100px;
    opacity: 1;
}
.cont4 .boox4 span:nth-child(2)::after{
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: contani 1.3s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
    animation-delay: -1s;
}
.cont4 .boox4:hover span:nth-child(2)::after{
    bottom: -70px;
    left: 180px;
    width: 200px;
    height: 100px;
    opacity: 1;
}
@keyframes contani{
    0%,100%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);
    }
    
}
.cont4 .boox4 .conte4 {
    align-items: center;
    justify-content: center;
    height: 120px;
    position: relative;
    left: 0;
    padding: 30px 45px;
    background: rgba(255,255,255,0.08);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
    transition: 0.5s;
    backdrop-filter:blur(10px);
    z-index: 1;
}
.cont4 .boox4:hover .conte4{
    left: -25px;
    letter-spacing: 0.5px;
    padding: 57px 45px;
}
.m14{
    justify-content: center;
    margin-left: 100px;
    right: 0;
    width: 3px;
    border-radius: 10px;
    height: 125%;
    background: linear-gradient(180deg, transparent, #03e9f4);
}
.conte4{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}
.cont4 .boox4 .conte4 h1{
    font-weight: 200;
    font-size: 29px;
    letter-spacing: 2px;
    transition: 0.5s ease;
}
.cont4 .boox4 .conte4 p{
    font-family: 'Mukta', sans-serif;
    font-size: 17.5px;
    letter-spacing: 0.1px;
    text-align: center;
}

.cont4 .boox4:hover .conte4 h1{
    letter-spacing: 5px;
}