*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(aria-ai-blog-image.png);
    background-size: cover;
    background-repeat: no-repeat;
}
body img{
    opacity: 0.6;
}
header h1{
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
    text-align: center;
    color: beige;
}
header p{
    color: aqua;
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
    text-align: center;
}
.formb{
    position: relative;
    max-width: 1000px;
    width: 100%;
    margin: 20px auto;
}
form{
    z-index: 5;
    color:black;
    max-width: 1300px;
    width: 100%;
    margin: 20px auto;
    box-sizing: border-box;
    padding: 1rem 0rem 1rem 20rem;
    border-radius: 25px;
    background-color: #ffffff;
    opacity: 0.4;
    font-size: 18px;
    font-weight: 600;
}
#sub{
    position: relative;
    left: 130px;
    width: 200px;
    height: 35px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
    padding: 2px 0px;
    background-color: aqua;
    border: 6px ridge darkblue;
}
#area:focus{
    border:4px dashed green;
}
