h1{
    text-align: center;
    background-color: lightcyan;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    font-size: 25px;
    border-radius: 25px;;
}

body{
    background-color: blue;
}
nav{
    align-items: center;
    width: 100%;
    margin: 20px auto;
    position: relative;
    left: 28%;
    white-space: nowrap;

}
nav a{
    
    text-decoration: none;
    display: inline;
    float: left;
    margin: 10px 50px;
    padding: 10px;
    color: white;
    border-radius: 20px;
    align-items: center;
    background-color: lightsalmon;
}